.aapa-rsm {
  width: 600px;
  box-sizing: border-box;
  min-height: 400px;
  border: var(--border1);
  margin: auto;
  border-radius: 12px;
  line-height: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  --taccent: rgba(133, 96, 136, 0.7);
  --accent1: rgba(133, 96, 136, 1);
  --tzeus: rgba(220, 195, 119, 0.8);
  --tchione: rgba(185, 217, 235, 0.8);
}

.aapa-rsm .aapa-header {
  width: 100%;
  box-sizing: border-box;
  border-bottom: var(--border1);
  background: var(--bkgr2);
  min-height: 120px;
  padding: 0px 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.aapa-header .aapa-title {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.aapa-header .aapa-title strong {
  font-size: 24px;
  font-family: 'Cinzel';
  text-transform: uppercase;
  font-weight: 600;
  line-height: 100%;
  color: var(--accent1);
}

.aapa-header .aapa-title span {
  font-size: 9px;
  font-family: 'Inter';
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2px;
}

.aapa-header .aapa-flag {
  width: 152px;
  background: var(--accent1);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color2);
  font-size: 48px;
  line-height: 100%;
}

.aapa-header .aapa-flag:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 12px solid var(--bkgr2);
  border-right: 12px solid transparent;
  border-top: 60px solid transparent;
  border-bottom: 60px solid var(--bkgr2);
}

.aapa-header .aapa-flag:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid var(--bkgr2);
  border-top: 60px solid var(--bkgr2);
  border-bottom: 60px solid transparent;
}

.aapa-rsm .aapa-img {
  background-image: url(https://images.pexels.com/photos/2031965/pexels-photo-2031965.jpeg);
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: bottom;
  border-bottom: var(--border1);
  filter: grayscale(0.3);
}

.aapa-rsm .aapa-data {
  border-bottom: var(--border1);
  font-size: 9px;
  font-family: 'Inter';
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2px;
  box-sizing: border-box;
  padding: 12px 60px;
  background: var(--bkgr2);
  text-align-last: justify;
}

.aapa-rsm .aapa-data i {
  color: var(--accent1);
  font-size: 7px;
  vertical-align: 1px;
  font-weight: 900;
  margin: 0px 24px;
}

.aapa-rsm .aapa-desc {
  background: var(--bkgr1);
  line-height: 120%;
  font-family: 'Inter';
  font-size: 12px;
  padding: 60px;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  border-bottom: var(--border1);
} 

.aapa-rsm .aapa-chrs {
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  background: var(--bkgr2);
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.aapa-chrs .aapa-chr {
  height: 132px;
  width: calc(50% - 18px);
  background-size: cover;
  box-sizing: border-box;
  background-color: var(--color1);
  border: var(--border2);
  transition: 1s ease-in;
}

.aapa-chrs .aapa-chr:hover {
  background-blend-mode: luminosity;
}

.aapa-chrs .aapa-chr:hover .chr-info {
  opacity: 1;
}

.aapa-chrs .chr-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  padding: 12px;
  opacity: 0;
  transition: 1s;
  color: var(--color2);
  background-color: var(--taccent);
  text-align: center;
}

.aapa-chrs .chr-info i {
  font-size: 24px;
  line-height: 100%;
  font-weight: 200;
}

.aapa-chrs .chr-info strong {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Cinzel';
  text-transform: uppercase;
  line-height: 100%;
}

.aapa-chrs .chr-info span {
  font-size: 9px;
  font-family: 'Inter';
  text-transform: uppercase;
  line-height: 100%;
}

.aapa-rsm .aapa-desc div {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--accent1);
  display: block;
  padding: 36px;
  border-radius: 6px;
}

.aapa-rsm .aapa-desc div strong {
  color: var(--accent1);
  font-weight: 800;
}

.aapa-rsm .aapa-desc div u {
  text-decoration: none;
  border-bottom: 1px solid var(--accent1);
}

.aapa-rsm .aapa-desc div span {
  background: var(--accent1);
  color: var(--text1);
  display: inline-block;
  padding: 2px 3px;
  line-height: 100%;
  border-radius:3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}
