.tbome-back:hover .tbome-pic div.tbome-back.post:hover .tbome-pic div {
  filter: grayscale(0.24); 
  transition: 1s ease-in;
}


.tbome-back {
  width: 600px;
  min-height: 600px;
  margin: 24px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Georgia';
  color: var(--color1);
  font-size: 13px;
  border: 2px solid var(--accent1);
  outline: 2px dotted var(--accent1);
  outline-offset: 3px;
  position: relative;
  padding: 60px;
  row-gap: 36px;
  line-height: 0%;
}

.tbome-back:before {
  display: block;
  content: "";
  border: 2px dotted var(--accent1);
  width: calc(100% - 6px);
  margin: -57px;
  min-height: calc(100% - 6px);
  position: absolute;
  box-sizing: border-box;
}

.tbome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.tbome-header .tbome-pic {
  width: 120px;
  height: 120px;
  border: 4px double var(--accent1);
  border-radius: 50%;
  box-sizing: border-box;
  padding: 1px;
}

.tbome-back.resume .tbome-header .tbome-pic div {
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 60%;
  transition: 1s ease-in;
}

.tbome-header .tbome-title {
  font-size: 36px;
  font-family: 'Cormorand Garamond';
  font-style: italic;
  color: var(--accent1);
  font-weight: 300;
  letter-spacing: 0px;
  width: 100%;
  text-align: center;
  line-height: 100%;
}

.tbome-header .tbome-title span {
  display: block;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--color1);
}

.tbome-header .tbome-data {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  width: 100%;
  line-height: 100%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  padding: 9px 0px;
}

.tbome-header .tbome-data b {
  opacity: 36%;
}

.tbome-back .tbome-intro {
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
  column-count: 2;
  column-gap: 12px;
  line-height: 120%;
}

.tbome-back .tbome-characters {
  padding: 36px 24px 0px;
  border-top: 2px dotted var(--accent1);
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.tbome-characters .tbome-character {
  display: flex;
  flex-direction: row;
  height: 96px;
  column-gap: 24px;
}

.tbome-characters .tbome-character span {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: 6px;
}

.tbome-character .tbome-pic {
  width: 96px;
  min-height: 96px;
  border: 4px double var(--accent1);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1px;
}

.tbome-character .tbome-pic div {
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: grayscale(1);
  border-radius: 50%;
  background-position: center;
  transition: 1s ease-in;
}

.tbome-character .tbome-name {
  line-height: 100%;
  width: 100%;
  font-size: 18px;
  font-family: 'Cormorant Garamond';
  font-style: italic;
}

.tbome-character .tbome-name strong {
  font-size: 21px;
  color: var(--accent1);
}

.tbome-character .tbome-data {
  line-height: 100%;
  width: 100%;
  font-size: 9px;
  text-transform: uppercase;
  display: flex;
  column-gap: 6px;
  letter-spacing: 0.9px;
}

.tbome-character .tbome-data b {
  opacity: 60%;
}

.tbome-character.even { flex-direction: row-reverse; }
.tbome-character.even .tbome-data { justify-content: flex-end; }

.tbome-back.post .tbome-header .tbome-pic div {
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: grayscale(1);
  border-radius: 50%;
  background-position: center;
  transition: 1s ease-in;
}

.tbome-header .tbome-quote {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1.2px;
  width: 100%;
  line-height: 100%;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  padding: 9px 0px;
}

.tbome-back .tbome-text {
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
  line-height: 120%;
}

.tbome-back .tbome-text:first-letter {
  font-size: 48px;
  float: left;
  padding: 15px 6px 6px 6px;
  font-style: italic;
  font-weigth: 300;
}

.tbome-back.post .tbome-data {
  margin-top: 12px;
  line-height: 120%;
  opacity: 60%;
  align-self: flex-end;
  font-style: italic;
}
